* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  background: url("../img/background.jpg") no-repeat center center;
  background-size: cover; }

nav {
  width: 100%;
  position: absolute;
  bottom: 0%;
  padding: 5% 0 2% 0;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  /*Safari 5.1-6*/
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  /*Fx 3.6-15*/ }
  nav ul li {
    display: inline-table;
    width: 24.5%;
    text-align: center;
    color: #fefefe;
    padding: 1% 0; }
  nav a:link, nav a:visited {
    color: #fefefe;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    opacity: 0.8;
    transition: opacity 0.3s;
    padding: 5% 8%; }
  nav a:hover {
    opacity: 1.0;
    transition: opacity 0.3s; }

#login {
  width: 250px;
  margin: 0 auto;
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -125px; }
  #login img {
    opacity: 0.8;
    transition: opacity 0.3s; }
  #login #no-instagram {
    margin-top: 0%;
    display: block;
    padding: 3% 0%;
    color: #ddd;
    font-size: 0.75rem;
    letter-spacing: 0.03rem;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s; }

#login img:hover {
  opacity: 1.0;
  transition: opacity 0.3s; }

#login #no-instagram:hover {
  color: #fff;
  transition: opacity 0.3s; }

#login img {
  width: 100%; }

#login #mobile {
  display: none; }

#handler {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0; }

.handler-hidden {
  display: none; }

.handler-visible {
  display: block; }

.loading-visible {
  display: block; }
  .loading-visible h2 {
    position: absolute;
    width: 300px;
    height: 100px;
    font-size: 2.0rem;
    color: #eee;
    font-weight: normal;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -50px; }
  .loading-visible img {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -18px; }

.loading-hidden {
  display: none; }

#user-deny h2 {
  position: absolute;
  width: 300px;
  height: 100px;
  font-size: 2.0rem;
  color: #eee;
  font-weight: normal;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -50px; }
#user-deny p {
  position: absolute;
  width: 500px;
  height: 100px;
  font-size: 1.1rem;
  color: #eee;
  font-weight: normal;
  text-align: center;
  top: 58%;
  left: 50%;
  margin-left: -250px;
  margin-top: -50px; }
#user-deny a {
  display: block;
  position: absolute;
  width: 150px;
  height: 40px;
  padding-top: 10px;
  font-size: 1.4rem;
  text-decoration: none;
  background-color: #ccc;
  color: #111;
  font-weight: normal;
  text-align: center;
  top: 62%;
  left: 50%;
  margin-left: -75px;
  margin-top: -25px;
  transition: background-color 0.3s; }
#user-deny a:hover {
  background-color: #eee;
  transition: background-color 0.3s; }

.user-deny-visible {
  display: block; }

.user-deny-hidden {
  display: none; }

/***********************************************/
/* iPads (portrait and landscape) ----------- */
/**********************************************/
@media screen and (max-width: 1024px) {
  body, html {
    background: url("../img/background_tablet.jpg") no-repeat top center;
    background-size: cover; }

  #login {
    bottom: 0;
    top: 30%;
    width: 450px;
    margin-left: -225px; }

  #login img, #login #no-instagram {
    display: none; }

  #login #mobile {
    display: block; }
    #login #mobile h2 {
      font-size: 1.7rem;
      color: #fff;
      font-weight: normal;
      text-align: center; }
    #login #mobile p {
      font-size: 1.1rem;
      color: #fff;
      font-weight: normal;
      text-align: left;
      padding-top: 10px; }

  nav {
    width: 100%;
    position: absolute;
    bottom: 3%;
    padding: 0;
    background: none; }
    nav ul li {
      width: 100%;
      color: #fefefe;
      background: #111;
      padding: 20px 0;
      margin: 5px 0; }
    nav a:link, nav a:visited {
      font-size: 1.1rem; } }
/****************************************************/
/* Smartphones (portrait and landscape) ----------- */
/****************************************************/
@media screen and (min-width: 320px) and (max-width: 568px) {
  body, html {
    background: url("../img/background_mobile.jpg") no-repeat top center;
    background-size: cover; }

  #login {
    bottom: 0;
    top: 24%;
    width: 250px;
    left: 50%;
    margin-left: -125px; }

  #login img, #login #no-instagram {
    display: none; }

  #login #mobile {
    display: block; }
    #login #mobile h2 {
      font-size: 1.6rem;
      color: #fff;
      font-weight: normal;
      text-align: center; }
    #login #mobile p {
      font-size: 1.0rem;
      color: #fff;
      font-weight: normal;
      text-align: left;
      padding-top: 0px; }

  nav {
    width: 100%;
    position: absolute;
    bottom: 3%;
    padding: 0;
    background: none; }
    nav ul li {
      width: 100%;
      color: #fefefe;
      background: #111;
      padding: 4% 0;
      margin: 1% 0; }
    nav a:link, nav a:visited {
      font-size: 1.1rem; } }
