* { margin: 0; padding: 0; overflow: hidden;}

@font-face {
    font-family: 'Font';
    src: url("font/ReenieBeanie.ttf");
}

body {
    font-family: "Font", serif;
}

#HUD {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 256px;
    height: 160px;
    border: 1px solid #999;
}

#user-position {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 52px;
    height: 32px;
    border: 1px solid #bb0000;
}   

#notes {
    position: absolute;
    top: 53%;
    left: 33%;

    p {
        font-size: 1.2rem;
        color: #1C1A15;
    }
}

.textbox-visible {
    width: 200px;
    height: 100px;

    position: absolute;
    top: 53%;
    left: 43%;

    /*border: none;
    resize: none;*/
}

.textbox-visible:focus {
   /* outline: none;*/
}

.textbox-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}