* { margin: 0; padding: 0; overflow: hidden;}

@font-face {
    font-family: 'Font';
    src: url("font/ReenieBeanie.ttf");
}

body {
    font-family: "Font", serif;
}

#HUD {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 256px;
    height: 160px;
    border: 1px solid #999;
}

#user-position {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 52px;
    height: 32px;
    border: 1px solid #bb0000;
}   

#user-position:hover {
    cursor: pointer;
}

#notes {
    position: relative;

    p {
        font-size: 1.2rem;
        color: #1C1A15;
        margin: 1.5%;
    }
}

.notes-visible {
    opacity: 0.9;
    transition: opacity 0.2s;
}

.notes-hidden {
    opacity: 0.0;
    transition: opacity 0.2s;
}

#textbox {
    position: relative;
    width: 100%;
    margin: 1% 0;
    font-family: "Font", serif;
    font-size: 1.2rem;
    color: #1C1A15;
    background: none;
    border: none;
    outline-style: none;
    resize: none;
}

.textcontainer-visible {
    width: 250px;
    height: 100%;

    position: absolute;
    top: 53%;
    left: 33%;

    /*border: none;
    resize: none;*/
}

.textcontainer-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.textbox-visible {
    top: 0px;
    left: 0px;
}

.textbox-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.instruction {
    position: absolute;
    width: 100%;   
    text-align: center;
    color: #eee;
    font-size: 1.3rem;
}

.instruction-visible {
    bottom: 7%;
    left: 0%;
    opacity: 0.6;
    transition: opacity 1.0s;
}

.instruction-hidden {
    bottom: -9999px;
    left: -9999px;
    opacity: 0.0;
    transition: opacity 1.0s;
}

.arrow-left-visible {
    position: absolute;
    top: 47%;
    left: 28%;
    opacity: 0.6;

    transition: opacity 0.2s;
}

.arrow-left-hidden {
    opacity: 0.0;
    transition: opacity 0.2s;   
}

.arrow-right-visible {
    position: absolute;
    top: 47%;
    left: 71%;
    opacity: 0.6;

    transition: opacity 0.2s;
}

.arrow-right-hidden {
    opacity: 0.0;
    transition: opacity 0.2s;
}