* { margin: 0; padding: 0; overflow: hidden;}

@font-face {
    font-family: 'Font';
    src: url("font/ReenieBeanie.ttf");
}

body {
    font-family: "Font", serif;
}

#HUD {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 256px;
    height: 160px;
    border: 1px solid #999;
}

#user-position {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 52px;
    height: 32px;
    border: 1px solid #bb0000;
}   

#user-position:hover {
    cursor: pointer;
}

#notes {
    position: relative;

    p {
        font-size: 1.2rem;
        color: #1C1A15;
        margin: 1.5%;
    }
}

.notes-visible {
    opacity: 0.8;
    transition: opacity 0.1s;
}

.notes-hidden {
    opacity: 0.0;
    transition: opacity 0.1s;
}

#textbox {
    position: relative;
    width: 100%;
    margin: 1% 0;
    padding: 10% 3% 0 3%;
    font-family: "Font", serif;
    font-size: 1.2rem;
    color: #1C1A15;
    background: none;
    border: none;
    outline-style: none;
    resize: none;
}

#textbox:hover {
    cursor: url("../img/write_cursor.gif"), auto;
}

::-webkit-input-placeholder {
    -webkit-animation: color-change 2s infinite;
    animation: color-change 2s infinite;
    border-bottom: 1px dotted #5E5746;
}

::-moz-placeholder {  /* Firefox 19+ */
    -moz-animation: color-change 2s infinite;
    animation: color-change 2s infinite;
    border-bottom: 1px dotted #38342A;
}

@-webkit-keyframes color-change {
    0% { color: #1C1A15; opacity: 0.6; }
    50% { color: #38342A; opacity: 1.0; }
    100% { color: #1C1A15; opacity: 0.6; }
}
@-moz-keyframes color-change {
    0% { color: #1C1A15; opacity: 0.6; }
    50% { color: #38342A; opacity: 1.0; }
    100% { color: #1C1A15; opacity: 0.6; }
}
@keyframes color-change {
    0% { color: #1C1A15; opacity: 0.6; }
    50% { color: #38342A; opacity: 1.0; }
    100% { color: #1C1A15; opacity: 0.6; }
}

.textcontainer-visible {
    width: 250px;
    height: 100%;

    position: absolute;
    top: 53%;
    left: 33%;
}

.textcontainer-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.textbox-visible {
    opacity: 1.0;
    transition: opacity 0.1s;

}

.textbox-hidden {
    opacity: 0.0;
    transition: opacity 0.1s;

}

.textbox-close {
    position: relative;
    top: 0px;
    left: 0px;
}

.textbox-far {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.instruction {
    position: absolute;
    width: 100%;   
    text-align: center;
    color: #eee;
    font-size: 1.3rem;
}

.instruction-visible {
    bottom: 8%;
    left: 0%;
    opacity: 0.6;
    transition: opacity 1.0s;

    cursor: default;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

.instruction-hidden {
    bottom: -9999px;
    left: -9999px;
    opacity: 0.0;
    transition: opacity 1.0s;
}

.arrow-left-visible {
    position: absolute;
    top: 47%;
    left: 28%;
    opacity: 0.6;

    transition: opacity 0.2s;
}

.arrow-left-hidden {
    opacity: 0.0;
    transition: opacity 0.2s;   
}

.arrow-right-visible {
    position: absolute;
    top: 47%;
    left: 71%;
    opacity: 0.6;

    transition: opacity 0.2s;
}

.arrow-right-hidden {
    opacity: 0.0;
    transition: opacity 0.2s;
}

.cursor-rotate {
    cursor: url("../img/rotate_cursor.gif"), auto;
}

.cursor-write {
    cursor: url("../img/write_cursor.gif"), auto;
}

.cursor-auto {
    cursor: auto;
}

#test {
    position: absolute;
    left: 0;
    top: 0;
    background: pink;
}